.logo{
    width: 30% !important;
}
.welcome-content{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-heading{
       font-size: 78px !important;
}