.dashboard {
  background-image: url("./../../assets/galaxybg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0.5rem;

  height: auto;
}

.top-navbar {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.75rem;
  /* padding: 0.5rem; */
}

.top-navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75rem;
}

.navbar-logo {
  display: inline-block;
  height: 80px;
  width: 200px;
}

.navbar-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  margin: 0 1rem;
}

.top-info .address {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.4rem;
}

.address span {
  margin: 0 1rem;
}

.tron-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnn {
  border: 2px solid cadetblue;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  margin: 0 0.2rem;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
}
.header {
  background-color: rgba(0, 0, 0, 0.4);
}

.logout-btn {
  background-color: #8a5dbd;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  color: #8a5dbd;
  outline: none !important;
  background-color: #fff !important;
}

/****************RIGHT**************/
.right,
.left,
.btm-table {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.75rem;
}

.box {
  padding: 1.3rem 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: rgb(255, 255, 255);
  margin: 0.3rem 0.3rem 0 0.3rem;
  box-shadow: 0 8px 6px -6px black;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.box-top i {
  font-size: 2rem;
}
.box-top span {
  font-size: 2rem;
  font-weight: 600;
}

.box-btm {
  background: #ffffff;
  padding: 1rem 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  text-align: center;
  margin: 0 0.3rem 0.3rem 0.3rem;
}
.box-btm h5 {
  font-size: 1.2rem;
  margin-block-end: 0rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(0, 0, 0) !important;
}
.box-1,
.box-6 {
  background-image: linear-gradient(
    to right top,
    #ff92ff 0,
    #ff88ff 16.67%,
    #df7bf1 33.33%,
    #b46cd8 50%,
    #8b5dbe 66.67%,
    #674fa5 83.33%,
    #47428f 100%
  );
}

.box-3,
.box-5 {
  background-image: linear-gradient(
    to right top,
    #fe8f62 0,
    #ff8564 8.33%,
    #ff7967 16.67%,
    #ff6c6b 25%,
    #fd5e6e 33.33%,
    #f84e73 41.67%,
    #f23c78 50%,
    #ea287e 58.33%,
    #e10e86 66.67%,
    #d6008f 75%,
    #ca0098 83.33%,
    #bb00a3 91.67%,
    #aa00ae 100%
  );
}
.box-2,
.box-4 {
  background-image: linear-gradient(
    to right top,
    #ade5ff 0,
    #7dcefb 25%,
    #3cb5f2 50%,
    #009ce9 75%,
    #0085e0 100%
  );
}

/****************LEFT**************/
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user i {
  color: #1781c7;
}
.user i,
.user span {
  font-size: 2.2rem;
}

.links {
  text-align: center;
}
.links h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.links .aff-link {
  border: 2px solid cadetblue;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  margin: 0 0.2rem;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
}
/**************TABLE**************/
td,
th {
  color: #fff;
}

.btm-table h4 {
  background-image: linear-gradient(
    to right top,
    #fe8f62 0,
    #ff8564 8.33%,
    #ff7967 16.67%,
    #ff6c6b 25%,
    #fd5e6e 33.33%,
    #f84e73 41.67%,
    #f23c78 50%,
    #ea287e 58.33%,
    #e10e86 66.67%,
    #d6008f 75%,
    #ca0098 83.33%,
    #bb00a3 91.67%,
    #aa00ae 100%
  );
  padding: 0.7rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.table-borderless > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
  .top-navbar .container-fluid {
    justify-content: center;
  }
  .top-info {
    margin: 1rem;
  }
}
